        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            background-image: url(/images/Wrights-Brothers-Vintage-Plane-Wallpaper-Mural-plain-820x532.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            backdrop-filter: blur(10px);
        }
        
        section {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        h1 {
            color: rgb(228, 10, 10);
            font-family: serif;
            font-weight: 700;
            text-shadow: 4px 5px 7px rgba(255, 60, 0, 0.856);
        }
        
        h1:hover {
            color: #ffd6af;
            text-shadow: 2px 3px 3px #eb332a;
            transition: 0.3s;
        }
        
        fieldset {
            width: 30%;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            border: 1px solid wheat;
        }
        
        legend {
            color: rgb(228, 10, 10);
            font-size: 30px;
            font-family: 'Times New Roman', Times, serif;
            text-shadow: 2px 3px 3px rgba(245, 43, 7, 0.705);
        }
        
        legend:hover {
            color: #ffd6af;
            text-shadow: 2px 3px 3px #eb332a;
            transition: 0.2s;
        }
        
        .labels,
        .inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
        }
        
        .room-section {
            display: inline-flex;
            align-content: stretch;
            flex-wrap: wrap;
            gap: 7px;
        }
        
        .bed-section {
            display: inline-flex;
            align-content: stretch;
            flex-wrap: wrap;
            gap: 20px;
        }
        
        #adults,
        #children {
            width: 45px;
        }
        
        input {
            outline: none;
            border: none;
            padding: 5px;
            background-color: #e9ecef;
            border-radius: 10px;
        }
        
        label {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            color: #ffffff;
            text-shadow: 4px 5px 7px#f54444;
            transition: 0.3s;
        }
        
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            gap: 280px;
            border: none;
            outline: none;
            padding: 10px;
            border-radius: 10px;
            color: rgba(255, 255, 255, 0.164);
        }
        
        #submit-button,
        #reset-button {
            cursor: pointer;
            background-color: #0a41031c;
            color: white;
            text-shadow: 4px 5px 7px#f54444;
        }